<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="addrecord/" method="post">
        {% csrf_token %}
        <label for="">firstname</label>
        <br>
        <input type="text" name="first">
        <label for="">lastname</label>
        <input type="text" name="last">
        <br>
        <input type="submit" value="submit">
    </form>
</body>
</html>